<%= form_for(@employee) do |f| %>
  <% if @employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@employee.errors.count, "erro") %> <%= @employee.errors.count > 1 ? String('impediram') : String('impediu') %> este funcion&aacute;rio de ser salvo:</h2>

      <ul>
      <% @employee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <span class="field-label">Nome</span>:<br>
    <%= f.text_field :name, :class => 'form-control' %>
  </div>
  <div class="field form-group">
    <span class="field-label">Setor:</span><br>
    <%= f.select :sector_id, options_for_select(Sector.all.map{|s|[s.name, s.id]}), {}, { :class => 'form-control' } %>
  </div>
  <div class="field form-group">
    <span class="field-label">Localiza&ccedil;&atilde;o:</span><br>
    <%= f.select :location_id, options_for_select(Location.all.map{|s|[s.name, s.id]}), {}, { :class => 'form-control' } %>
  </div>
  <div class="actions">
    <%= button_tag(type: 'submit', class: 'btn btn-primary') do %>
        <span class="glyphicon glyphicon-floppy-disk"></span> Salvar
    <% end %>
  </div>
<% end %>
