<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @employee ? @employee.name : "N/A" %>
</p>

<p>
  <strong>Sector:</strong>
  <%= @employee.sector    ? @employee.sector.name : "N/A" %>
</p>

<p>
  <strong>Location:</strong>
  <%= @employee.location ? @employee.location.name : "N/A" %>
</p>

<%= link_to 'Edit', edit_employee_path(@employee), :class => 'btn btn-default glyphicon glyphicon-pencil' %> |
<%= link_to 'Back', employees_path, :class => 'btn btn-default glyphicon glyphicon-arrow-left' %>
