<%= form_for(@equipment) do |f| %>
  <% if @equipment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@equipment.errors.count, "error") %> prohibited this equipment from being saved:</h2>

      <ul>
      <% @equipment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :'Número de série' %><br>
    <%= f.text_field :serial_number, :class => 'form-control' %>
  </div>
  <div class="field form-group">
    <%= f.label :'Nome' %><br>
    <%= f.text_field :name, :class => 'form-control' %>
  </div>
  <div class="field form-group">
    <%= f.label 'Descrição' %><br>
    <%= f.text_field :description, :class => 'form-control' %>
  </div>
  <div class="field form-group">
    <%= f.label :'Empregado' %><br>
    <%= f.select :employee_id, options_for_select(Employee.all.map{|s|[s.name, s.id]}), { :include_blank => true }, { :class => 'form-control' } %>
  </div>
  <div class="field form-group">
    <%= f.label :'Tipo de equipamento' %><br>
    <%= f.select :equipment_type_id, options_for_select(EquipmentType.all.map{|s|[s.name, s.id]}), {}, { :class => 'form-control' } %>
  </div>
  <div class="actions">
    <%= button_tag(type: 'submit', class: 'btn btn-primary') do %>
        <span class="glyphicon glyphicon-floppy-disk"></span> Salvar
    <% end %>
  </div>
<% end %>
