<p id="notice"><%= notice %></p>

<h1>Listing Equipment</h1>

<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th>Serial number</th>
      <th>Name</th>
      <th>Description</th>
      <th>Employee</th>
      <th>Equipment type</th>
      <th>Available for Lending?</th>
      <th>Visualizar</th>
      <th>Editar</th>
      <th>Remover</th>
    </tr>
  </thead>

  <tbody>
    <% @equipment.each do |equipment| %>
      <tr>
        <td><%= equipment ? equipment.serial_number : "N/A" %></td>
        <td><%= equipment ? equipment.name : "N/A" %></td>
        <td><%= equipment ? equipment.description : "N/A" %></td>
        <td><%= equipment.employee ? equipment.employee.name : "N/A" %></td>
        <td><%= equipment.equipment_type ? equipment.equipment_type.name : "N/A" %></td>
        <td><%= equipment.employee ? "No" : "Yes" %></td>
        <td><%= link_to 'Show', equipment, :class => 'btn btn-default glyphicon glyphicon-eye-open' %></td>
        <td><%= link_to 'Edit', edit_equipment_path(equipment), :class => 'btn btn-default glyphicon glyphicon-pencil' %></td>
        <td><%= link_to 'Destroy', equipment, :class => 'btn btn-default glyphicon glyphicon-trash', method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Equipment', new_equipment_path %>
