<p>
  <strong>N&uacute;mero de S&eacute;rie:</strong>
  <%= @equipment.serial_number %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @equipment ? @equipment.name : "N/A" %>
</p>

<p>
  <strong>Descri&ccedil;&atilde;o:</strong>
  <%= @equipment ? @equipment.description : "N/A" %>
</p>

<p>
  <strong>Funcion&aacute;rio:</strong>
  <%= @equipment.employee ? @equipment.employee.name : "N/A" %>
</p>

<p>
  <strong>Tipo de Equipamento:</strong>
  <%= @equipment.equipment_type ? @equipment.equipment_type.name : "N/A" %>
</p>

<p>
  <strong>Dispon&iacute;vel para Empr&eacute;stimo?:</strong>
  <%= @equipment.employee ? "Não" : "Sim" %>
</p>

<%= link_to 'Editar', edit_equipment_path(@equipment), :class => 'btn btn-default glyphicon glyphicon-pencil' %>
<%= link_to 'Voltar', equipment_index_path, :class => 'btn btn-default glyphicon glyphicon-arrow-left' %>
