<p id="notice"><%= notice %></p>

<p>
  <strong>Serial number:</strong>
  <%= @equipment.serial_number %>
</p>

<p>
  <strong>Name:</strong>
  <%= @equipment ? @equipment.name : "N/A" %>
</p>

<p>
  <strong>Description:</strong>
  <%= @equipment ? @equipment.description : "N/A" %>
</p>

<p>
  <strong>Employee:</strong>
  <%= @equipment.employee ? @equipment.employee : "N/A" %>
</p>

<p>
  <strong>Equipment type:</strong>
  <%= @equipment.equipment_type ? @equipment.equipment_type : "N/A" %>
</p>

<p>
  <strong>Available for Lending?:</strong>
  <%= @equipment.employee ? "No" : "Yes" %>
</p>

<%= link_to 'Editar', edit_equipment_path(@equipment), :class => 'btn btn-default glyphicon glyphicon-pencil' %>
<%= link_to 'Voltar', equipment_index_path, :class => 'btn btn-default glyphicon glyphicon-arrow-left' %>
