<%= form_for(@xreflending) do |f| %>
  <% if @xreflending.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@xreflending.errors.count, "error") %> prohibited this xreflending from being saved:</h2>

      <ul>
      <% @xreflending.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <span class="field-label">Tipo do Equipamento</span>:<br>
    <%= select_tag :equipment_type_id, options_for_select(EquipmentType.all.map{|s|[s.name, s.id]}), { :prompt => "Select an Equipment Type", :class => 'form-control' } %>
  </div>
  <div class="field form-group">
    <span class="field-label">Equipamento</span>:<br>
    <%= select_tag :equipment_id, options_from_collection_for_select([], "id", "name"), 
      "data-option-dependent" => true,
      "data-option-observed" => "equipment_type_id",
      "data-option-url" => "/equipments/:equipment_type_id:/equipments",
      "data-option-key-method" => :id,
      "data-option-value-method" => :name,
      :class => 'form-control',
      :id => 'xreflending_equipment_id',
      :name => 'xreflending[equipment_id]' %>
  </div>
  
  <div class="field form-group">
    <span class="field-label">Funcion&aacute;rio</span>:<br>
    <%= f.select :employee_id, options_for_select(Employee.all.map{|s|[s.name, s.id]}), {}, { :class => 'form-control' } %>
  </div>
  <div class="field form-group">
    <span class="field-label">Data de empr&eacute;stimo</span>:<br>
    <div class="input-group date">
      <%= f.text_field :lend_date, :value => @xreflending.lend_date ? @xreflending.lend_date.strftime("%d/%m/%Y %H:%M") : "", :class => 'form-control' %>
      <span class="input-group-addon">
        <span class="glyphicon glyphicon-calendar"></span>
      </span>
    </div>
  </div>
  <div class="field form-group">
    <span class="field-label">Data de devolu&ccedil;&atilde;o</span>:<br>
    <div class="input-group date">
      <%= f.text_field :return_date, :value => @xreflending.lend_date ? @xreflending.return_date.strftime("%d/%m/%Y %H:%M") : "", :class => 'form-control' %>
      <span class="input-group-addon">
        <span class="glyphicon glyphicon-calendar"></span>
      </span>
    </div>
  </div>
  <div class="actions">
    <%= button_tag(type: 'submit', class: 'btn btn-primary') do %>
        <span class="glyphicon glyphicon-floppy-disk"></span> Salvar
    <% end %>
  </div>
<% end %>
