<p>
  <strong>Equipamento:</strong>
  <%= @xreflending.equipment ? @xreflending.equipment.name : "N/A" %>
</p>

<p>
  <strong>Funcion&aacute;rio:</strong>
  <%= @xreflending.employee ? @xreflending.employee.name : "N/A" %>
</p>

<p>
  <strong>Data de Empr&eacute;stimo:</strong>
  <%= @xreflending ? @xreflending.lend_date.strftime("%d/%m/%Y %H:%M") : "N/A" %>
</p>

<p>
  <strong>Data de Devolu&ccedil;&atilde;o:</strong>
  <%= @xreflending ? @xreflending.return_date.strftime("%d/%m/%Y %H:%M") : "N/A" %>
</p>

<%= link_to 'Editar', edit_xreflending_path(@xreflending), :class => 'btn btn-default glyphicon glyphicon-pencil' %>
<%= link_to 'Voltar', xreflendings_path, :class => 'btn btn-default glyphicon glyphicon-arrow-left' %>
