<p id="notice"><%= notice %></p>

<p>
  <strong>Equipment:</strong>
  <%= @xreflending.equipment ? @xreflending.equipment.name : "N/A" %>
</p>

<p>
  <strong>Employee:</strong>
  <%= @xreflending.employee ? @xreflending.employee.name : "N/A" %>
</p>

<p>
  <strong>Lend date:</strong>
  <%= @xreflending ? @xreflending.lend_date : "N/A" %>
</p>

<p>
  <strong>Return date:</strong>
  <%= @xreflending ? @xreflending.return_date : "N/A" %>
</p>

<%= link_to 'Edit', edit_xreflending_path(@xreflending), :class => 'btn btn-default glyphicon glyphicon-pencil' %> |
<%= link_to 'Back', xreflendings_path, :class => 'btn btn-default glyphicon glyphicon-arrow-left' %>
