<div id="header">
	<h1>Hey</h1>
</div>

<div id="sidebar">

</div>


<div id="contents">

	<%= link_to 'Manage Lendings', xreflendings_path %> <br/>
	<%= link_to 'Manage Employees', employees_path %> <br/>
	<%= link_to 'Manage Sectors', sectors_path %> <br/>
	<%= link_to 'Manage Locations', locations_path %> <br/>
	<%= link_to 'Manage Equipments', equipment_index_path %> <br/>
	<%= link_to 'Manage Equipment Types', equipment_types_path %> <br/>
	<%= link_to 'Summary Page', listing_path %>

</div>