<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<%= link_to 'Manage Lendings', xreflendings_path %> <br/>
<%= link_to 'Manage Employees', employees_path %> <br/>
<%= link_to 'Manage Sectors', sectors_path %> <br/>
<%= link_to 'Manage Locations', locations_path %> <br/>
<%= link_to 'Manage Equipments', equipment_index_path %> <br/>
<%= link_to 'Manage Equipment Types', equipment_types_path %>