<%= form_for(@equipment_type) do |f| %>
  <% if @equipment_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@equipment_type.errors.count, "erro") %> <%= @equipment_type.errors.count > 1 ? String('impediram') : String('impediu') %> este tipo de equipamento de ser salvo:</h2>

      <ul>
      <% @equipment_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <span class="field-label">Nome</span>:<br>
    <%= f.text_field :name, :class => 'form-control' %>
  </div>
  <div class="actions">
    <%= button_tag(type: 'submit', class: 'btn btn-primary') do %>
        <span class="glyphicon glyphicon-floppy-disk"></span> Salvar
    <% end %>
  </div>
<% end %>
