<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @location ? @location.name : "N/A" %>
</p>

<p>
  <strong>Description:</strong>
  <%= @location ? @location.description : "N/A" %>
</p>

<%= link_to 'Editar', edit_location_path(@location), :class => 'btn btn-default glyphicon glyphicon-pencil' %>
<%= link_to 'Voltar', locations_path, :class => 'btn btn-default glyphicon glyphicon-arrow-left' %>
