<!DOCTYPE html>
<html>
<head>
  <title>Lpweb</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="wrapper">
    <div class="container-fluid">
      <div class="row">
        <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="navbar-header">
              <span class="navbar-brand">Hey</span>
          </div>
        </nav>
      </div>
      <div class="row">  
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-pills nav-stacked">
            <li role="presentation" <%= current_page?(listing_path) || current_page?(root_path) ? 'class=active' : '' %>><%= link_to '  Principal', listing_path%></li>
          </ul>
          <ul class="nav nav-pills nav-stacked">
            <li role="presentation" <%= current_page?(xreflendings_path) ? 'class=active' : '' %>><%= link_to '  Empréstimos', xreflendings_path%></li>
          </ul>
          <ul class="nav nav-pills nav-stacked">
          	<li role="presentation" <%= current_page?(employees_path) ? 'class=active' : '' %>><%= link_to '  Empregados', employees_path%></li>
          	<li role="presentation" <%= current_page?(sectors_path) ? 'class=active' : '' %>><%= link_to '  Setores', sectors_path%></li>
          	<li role="presentation" <%= current_page?(locations_path) ? 'class=active' : '' %>><%= link_to '  Localizações', locations_path%></li>
          </ul>
          <ul class="nav nav-pills nav-stacked">
          	<li role="presentation" <%= current_page?(equipment_index_path) ? 'class=active' : '' %>><%= link_to '  Equipamentos', equipment_index_path%></li>
          	<li role="presentation" <%= current_page?(equipment_types_path) ? 'class=active' : '' %>><%= link_to '  Tipos de Equipamentos', equipment_types_path%></li>
          </ul>
        </div>
        <div class="col-sm-9 col-md-10 main">
            <%= yield %>
        </div>
      </div>
    </div>
  </div>

</body>
</html>

