<!DOCTYPE html>
<html>
<head>
  <title>Lpweb</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if current_user %>
  <div id="wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="navbar navbar-inverse navbar-fixed-top">
          <div class="container-fluid">
            <div class="navbar-header">
              <span class="navbar-brand">Cadastro de Equipamentos</span>
            </div>
            <div class='collapse navbar-collapse navbar-ex1-collapse' >
              <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user"></span>  <%= current_user.email %><span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><%= link_to 'Sair', destroy_user_session_path, :method => :delete %></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="row">  
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-pills nav-stacked">
            <li role="presentation" <%= current_page?(listing_path) || current_page?(root_path) ? 'class=active' : '' %>><%= link_to '  Principal', listing_path%></li>
          </ul>
          <br>
          <ul class="nav nav-pills nav-stacked">
            <li role="presentation" <%= current_page?(xreflendings_path) ? 'class=active' : '' %>><%= link_to '  Empréstimos', xreflendings_path%></li>
          </ul>
          <br>
          <ul class="nav nav-pills nav-stacked">
          	<li role="presentation" <%= current_page?(employees_path) ? 'class=active' : '' %>><%= link_to '  Funcionários', employees_path%></li>
          	<li role="presentation" <%= current_page?(sectors_path) ? 'class=active' : '' %>><%= link_to '  Setores', sectors_path%></li>
          	<li role="presentation" <%= current_page?(locations_path) ? 'class=active' : '' %>><%= link_to '  Localizações', locations_path%></li>
          </ul>
          <br>
          <ul class="nav nav-pills nav-stacked">
          	<li role="presentation" <%= current_page?(equipment_index_path) ? 'class=active' : '' %>><%= link_to '  Equipamentos', equipment_index_path%></li>
          	<li role="presentation" <%= current_page?(equipment_types_path) ? 'class=active' : '' %>><%= link_to '  Tipos de Equipamentos', equipment_types_path%></li>
          </ul>
          <br>
          <ul class="nav nav-pills nav-stacked">
          	<li role="presentation" <%= current_page?(users_path) ? 'class=active' : '' %>><%= link_to '  Gerenciar Usuários', users_path %></li>
          </ul>
        </div>
        <div class="col-sm-9 col-md-10 main">
            <% if notice %>
              <p id="notice" class="alert alert-info" role="alert"><%= notice %></p>
            <% end %>
            <%= yield %>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <%= yield %>
<% end %>
</body>
</html>

